
.container {
    margin: 20px;
  }
  
  .page-heading {
    font-weight: bold;
  }
  
  .section-heading {
    font-weight: bold;
    margin-top: 20px;
  }
  
  .btn-send-sms {
    margin-top: 20px;
  }
  
  .verified-text {
    color: green;
    font-weight: bold;
  }
  
  